<h2>Edit Historical Landmark</h2>

<!-- add content here -->

<form method= "POST" action= "/landmarks">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="id" value="<%= @landmark.id%>">
    <input type="text" name= "landmark[name]" id="name" value ="<%= @landmark.name%>">
    <input type="text" name= "landmark[year_completed]" id="year_completed" value ="<%= @landmark.year_completed%>">
    <input type="submit" id="Edit Landmark" value="Edit Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
