<h2>Create New Landmark</h2>

<form method= "POST" action= "/new">
<input type="text" name= "landmark_name">
<input type="text" name= "landmark_year">


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
